# PYTHON
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
*.so

# Cache de schemas do OpenAPI
openapi.json

# ALEMBIC
alembic/__pycache__/
alembic/versions/__pycache__/
alembic/versions/*.pyc

# TESTS / COVERAGE
htmlcov/
.coverage
.coverage.*
.cache/
pytest_cache/
*.db

# LOGS
*.log
logs/
log/
*.out


# ENVIRONMENT VARIABLES
.env
.env.*
!.env.example

# IDE / EDITOR FILES
.vscode/
.idea/
*.swp
*.swo

# MISC
.DS_Store
Thumbs.db

# PRE-COMMIT
.pre-commit-config.yaml~
.pre-commit/
.pre-commit-cache/
